body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header img {
    width: 100%;
    height: 100vh; /* vh stands for Viewport Height */
    object-fit: cover; /* This property is used to control how the image should be resized to fit its container */
}

.header p {
    clear: both;
    padding-top: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 50%;
    padding: 20px;
}
